<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forget Password Page</title>
    <link rel="stylesheet" href="{% static 'stylesForgotPass.css' %}">
  </head>
  <body>
    <div class="center">
      <h1>Forgot Password</h1>
      <form  action = 'Forgot_Password' method = "post">
          {% csrf_token %}
          <div class="txt_field">
            <input type="text" class="form-control" id="" placeholder="" name="UserID" required>
            <span></span>
            <label>User Name</label>
          </div>
          <div class="txt_field">
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="" name="User_Password" required>
            <label for="exampleFormControlInput1">Enter new password</label><br>
          </div>
          <input type="submit">  </input>
      </form>
    </div>
  </body>
</html>

