<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hospital Signup page</title>
    <link rel="stylesheet" href="{% static 'stylesOrgSignup.css' %}">

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 300px; bottom: 10px; width: 400px;left: 100px; }
    </style>


  </head>
  <body>
    <style>
      .coordinates {
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      position: absolute;
      bottom: 40px;
      left: 10px;
      padding: 5px 10px;
      margin: 0;
      font-size: 11px;
      line-height: 18px;
      border-radius: 3px;
      display: none;
      }
      </style>
      
        
      <div class="center">     

      <h1>SignUp</h1>
      <form name ="form" method="POST" style="margin: auto; width: 220px;">
        {% csrf_token %}
        <div class="txt_field">
          
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="Name" required>
          <label>Hospital name</label>
        </div>
        <div class="txt_field">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="Address" required>
          <label>Hospital address</label>
        </div>
        <div class="txt_field">
            
            <input type="number" class="form-control" min = "1" id="exampleFormControlInput1" placeholder="" name="Number_of_Vaccine_Per_Day" required>
            <label>Vaccine capacity</label>
          </div>
          <div class="txt_field">
            
            <input type="number" class="form-control" min = "1" id="exampleFormControlInput1" placeholder="" name="Seat_Capacity_For_COVID_Testing" required>
            <label>Test capacity</label>
          </div>
          <div class="txt_field">
            
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="UserID" required>
            <label>User Name</label>
          </div>
          <div class="txt_field">
            
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="email" required>
            <label>Email</label>
          </div>
        <div class="txt_field">
                
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="Vaccine" required>
                <label>Vaccine Name</label>
        </div>
        <div class="txt_field">
          
          <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="" name="User_Password" required>
          <label>Hospital password</label>
        </div>
        <p> Select your location from map</P>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleFormControlInput1"  name="long"><br>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleFormControlInput1"  name="lat"><br>
        </div>
        
          <input type="submit" value="Submit">
        </div>
        <div id="map"  ></div>
      <pre id="coordinates" class="coordinates"></pre>
      
        <script>
          mapboxgl.accessToken = 'pk.eyJ1Ijoid2FzaTAwMDA3IiwiYSI6ImNsMmxkc2J0bTFnODgzY2x3ZWx4NXd1OXMifQ.o9Tr7BRTeDo-C45jjo810A';
          const coordinates = document.getElementById('coordinates');
          const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [90.399452, 23.777176],
            zoom: 2
          });
        
          const marker = new mapboxgl.Marker({
            draggable: true
          })
          .setLngLat([90.399452, 23.777176])
          .addTo(map);
          function onDragEnd() {
            const lngLat = marker.getLngLat();
            coordinates.style.display = 'block';
            coordinates.innerHTML = `longitude: ${lngLat.lng}<br />latitude: ${lngLat.lat}`;
            document.forms["form"]["long"].value = lngLat.lng;
            document.forms["form"]["lat"].value = lngLat.lat;
          }
          marker.on('dragend', onDragEnd);
        </script>
      </form>
	<script src="index.js"></script>
  </body>
</html>




